// breakpoints created with mixins
$breakpoints: ( "xs": 0px, "sm": 480px, "md": 720px, "lg": 960px, "xl": 1200px, );
@mixin xs {
    @media (min-width: map-get($breakpoints, "xs")) {
        @content;
    }
}

@mixin sm {
    @media (min-width: map-get($breakpoints, "sm")) {
        @content;
    }
}

@mixin md {
    @media (min-width: map-get($breakpoints, "md")) {
        @content;
    }
}

@mixin lg {
    @media (min-width: map-get($breakpoints, "lg")) {
        @content;
    }
}

@mixin xl {
    @media (min-width: map-get($breakpoints, "xl")) {
        @content;
    }
}

@mixin breakpoint($bp: 0) {
    @media (min-width: $bp) {
        @content;
    }
}

.responsive-test {
    @include xs {
        color: red;
    }
}

.responsive-test {
    @include sm {
        color: rgb(176, 1, 245);
    }
}

.responsive-test {
    @include md {
        color: rgb(21, 226, 38);
    }
}

.responsive-test {
    @include lg {
        color: orange;
    }
}

.responsive-test {
    @include xl {
        color: rgb(126, 6, 26);
    }
}

.responsive-test {
    @include breakpoint(1300px) {
        color: rgb(11, 94, 94);
    }
}