//navbar color background
nav,
header {
    background-color: $nav-bg-color;
}

.logo {
    width: 150px;
}

nav {
    width: 100%;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        margin-bottom: 1rem;
        margin-left: 1em;
    }
    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }
    a:hover {
        color: #32965d;
    }
}

.active {
    color: #32965d;
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    display: block;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background-color: rgb(0, 0, 0);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: "";
    position: absolute;
}

.nav-toggle-label span::before {
    top: 7px;
}

.nav-toggle-label span::after {
    bottom: 7px;
}

@media screen and (min-width: 1050px) {
    .logo {
        width: 100px;
    }
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    .logo {
        grid-column: 2 / 3;
    }
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        a {
            opacity: 1;
            position: relative;
        }
        ul {
            display: flex;
            justify-content: flex-end;
        }
        li {
            margin-left: 2.5em;
            margin-bottom: 0;
        }
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.5em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before {
        transform: scale(1, 1);
    }
}

//@each $key,
//$val in $colors {
//.navbar-#{$key} {
//@extend .navbar;
//background-color: $val;
//}
//}